<!DOCTYPE html>
<html>
   <head>
        <link rel="icon" href="data:,">
   </head>
   
   <body>
      <div>
      <p><small> Allowed image extensions are jpg and png</small></p>
      </div>
      
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
      
      <div class="search">
	  <h3>Query image nearest neighbors</h3>

     <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('query')}}"method="post">
        	
            <button type="submit" class="btn btn-primary">Query</button>
       </form>

       <br>
       <br>
        {{ results }}

        </div>
     
   </body>
</html>
